{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap4 %}
{% block content %}
<div class="row">
    <div class="col-md-2 font-weight-bold">{% blocktrans %}Title{%endblocktrans%}</div>
    <div class="col-md-10 ">{{book.title}}</div>
</div>
<div class="row">
    <div class="col-md-6 font-weight-bold">Author: {{book.authors_text}}</div>
    <div class="col-md-2"></div>
    <div class="col-md-1 font-weight-bold">Rating:</div>
    <div class="col-md-1">{{book.rating}}</div>
    <div class="col-md-1 font-weight-bold">Price:</div>
    <div class="col-md-1">{{book.price}}</div>
</div>
<div class="row">
    <div class="col-md-12">{{book.description}}</div>
</div>

<div class="row">
    <!-- Formularz komentarza -->

    <div class="col-md-12">
        <form action="" method="POST" id="commentform">
            {% bootstrap_form form %}

        </form>

    </div>
</div>

{% endblock %}