{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap4 %}
{% block content %}
<div class="row">
    <div class="col-md-2 font-weight-bold">{% blocktrans %}Title{%endblocktrans%}</div>
    <div class="col-md-10 ">{{book.title}}</div>
</div>
<div class="row">
    <div class="col-md-6 font-weight-bold">Author: {{book.authors_text}}</div>
    <div class="col-md-2"></div>
    <div class="col-md-1 font-weight-bold">Rating:</div>
    <div class="col-md-1">{{book.rating}}</div>
    <div class="col-md-1 font-weight-bold">Price:</div>
    <div class="col-md-1">{{book.price}}</div>
</div>
<div class="row">
    <div class="col-md-12">{{book.description}}</div>
</div>

<div class="row">
    <p>komentarze: </p><br>
    {% for comment in book.comment_set.all%}
        <div> {{ comment.name }}: </div> <div> {{ comment.text }}</div>
    <br>
    {% endfor%}
</div>

<div class="row">
    <!-- Formularz komentarza -->

    <div class="col-md-12">
        <form action="{% url 'books:comment' book.id %}" method="POST" id="commentform">
            {% csrf_token %}
            {% bootstrap_form form %}

        </form>
        <button type="submit" form="commentform">Dodaj</button>
    </div>
</div>

{% endblock %}