{% extends 'base.html' %}

{% block notify %}
{{ note }}
{% endblock%}


{% block content %}

    <a href="{% url 'books:report' %}?page={{books.number}}"><button type="submit">utworz liste</button></a>

{% for book in books %}

<div class="row">
    <div class="col-md-1"><a href="{% url 'books:details' book.id %}">{{book.id}}</a></div>
    <div class="col-md-7"><a href="{% url 'books:details' book.id %}">{{book.title}}</a></div>
    <div class="col-md-2">cena: {{book.price}} PLN</div>
    <div class="col-md-2">rating: {{book.rating|floatformat:"0"}}/100</div>
    <hr class="mt-5 mb-5">
</div>

{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if books.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ books.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ books.number }} of {{ books.paginator.num_pages }}.
        </span>

        {% if books.has_next %}
            <a href="?page={{ books.next_page_number }}">next</a>
            <a href="?page={{ books.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}